body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f9;
  text-align: center;
  padding: 30px;
}
h1 {
  color: #2b7a78;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: #def2f1;
  margin: 8px auto;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  text-align: left;
}
